.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.primary_product > span:first-child {
  font-family: "Vitro_core";
  font-size: 7vw;
  font-weight: 900;
}
.primary_product > span:nth-child(2) {
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 2px;
}
.primary_product p {
  font-size: 20px;
  padding: 26px;
  font-weight: 300;
}
.slide {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  font-weight: 400;
}
input {
  position: absolute;
  left: -1000%;
}
label {
  display: block;
  position: relative;
  width: 56px;
  height: 28px;
  background-color: #ddd;
  border-radius: 20px;
  margin: 3px 10px;
}
label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
input:checked + label {
  background-color: cadetblue;
}
input:checked + label::after {
  left: inherit;
  right: 4px;
}
label span {
  display: none;
}
.product_grid_box {
  position: relative;
  margin-top: 30px;
}
.all_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.all_product img {
  margin-bottom: 6px;
  width: 100%;
}
.product_hide {
  display: none;
}
.korea_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  width: 100%;
}
footer {
  width: 100%;
}
@media (max-width: 1000px) {
  header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
  }
  .menu_bar {
    padding: 8px 20px;
    font-size: 24px;
  }
  .slide {
    display: none;
  }
  .korea_products {
    display: none;
  }
  .primary_product {
    padding: 30px;
  }
  .primary_product > p {
    font-size: 16px;
  }
  .mini_menu {
    display: none;
  }
  .all_product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .absolute_product span {
    font-size: 1rem;
    font-weight: 600;
  }
  @media (max-width: 500px) {
    header {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 50px;
      background-image: url("../images/brush.jpg");
      background-size: 500%;
      background-repeat: no-repeat;
      background-position: center 0%;
    }
    .mini_menu {
      position: absolute;
      padding-top: 20px;
      top: 50px;
      width: 100%;
      height: 100vh;
      display: none;
      background: url("../images/brush.jpg");
      background-repeat: no-repeat;
      background-position: center 70%;
    }
    .menu_bar {
      display: block;
      padding: 15px 20px;
    }
    .menu_bar i {
      display: block;
      font-size: 24px;
      z-index: 999;
    }
  }
}
